<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="datamanager-elem">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `datamanager-elem`
     * nuevo elemento 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class DatamanagerElem extends Polymer.Element {
      static get is() { return 'datamanager-elem'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'datamanager-elem'
          }
        };
      }
    }

    window.customElements.define(DatamanagerElem.is, DatamanagerElem);
  </script>
</dom-module>
