<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-spinner/paper-spinner.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">

<dom-module id="datamanager-elem">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
    <!-- <templateis is="dom-if" if="{{cargando}}" >

    </template> -->
    <!-- <h2>Cargando .. </h2> -->
    <paper-spinner active = {{cargando}}> Holaaa</paper-spinner>
   
    <iron-ajax
        auto
        url="https://jsonplaceholder.typicode.com/users/1"
        handle-as="json"
        last-response="{{handleResponse}}">
    </iron-ajax>
    <h2>{{handleResponse.name}}</h2>
  </template>

  <script>
    /**
     * `datamanager-elem`
     * nuevo elemento 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class DatamanagerElem extends Polymer.Element {
      static get is() { return 'datamanager-elem'; }
      static get properties() {
        return {
          handleResponse: {
            type: Object,
            value: ()=>{
              return{}
              observer:'_success'
            },
            cargando:{
              type:Boolean,
              value:true
            }
            
          }
        };
       
      }
      _success(e){
        this.cargando=false;
       // debbuger;
          // console.log(e.detail);
          // console.log("SUCCES!");

        }
    }

    window.customElements.define(DatamanagerElem.is, DatamanagerElem);
  </script>
</dom-module>
